[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
schedule = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
server = "python manage.py runserver 127.0.0.1:8000"
